.particles-background-effect {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw !important;
  height: 100vh;
  max-height: 100vh !important;
  z-index: -1;
}

#tsparticles {
  width: 100%;
  height: 100%;
  z-index: -1;
}
