.calendar-wrapper {
  z-index: 10000;
  width: 100vw;
  padding: 0 10%;

  // background-color: rgba(200, 200, 200, 0.5);
  background-color: rgba(255, 255, 255, 1);

  .calendar-header {
    color: #fefefe;
  }
}
