.alert-wrapper {
  position: fixed;
  bottom: 2rem;
  right: 2.25rem;
  z-index: 9999;
  pointer-events: none;

  .alert-content {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    padding: 0.75rem 1rem;

    box-shadow: 0 0 12px rgba(57, 255, 20, 0.5);
    pointer-events: all;

    .alert-text {
      font-family: "Bruno Ace SC", sans-serif;

      background: -webkit-linear-gradient(var(--sub-special-1), var(--main-special-1));
      // background: -webkit-linear-gradient(var(--main-special-1), var(--sub-special-1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .red {
      color: orangered;
    }

    .green {
      color: var(--main-special-1);
    }
  }
}
