.contact-section {
  min-height: 100vh;
  // max-height: 100vh;
  z-index: 1;
  padding: 10vh 10%;
  background: rgba(0, 0, 0, 0.925);
  display: flex;
  flex-direction: column;
  justify-content: center;

  // overflow-y: scroll;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .section-header {
      color: #fefefe;
      font-size: 3.25rem;
    }

    .phone-box {
      transform: translateY(0.25rem);
      display: flex;
      align-items: center;
      gap: 1rem;

      h3 {
        cursor: pointer;

        &:hover {
          background: -webkit-linear-gradient(var(--main-special-1), var(--sub-special-1));
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .form-header {
    font-size: 1.75rem;
    font-family: "Bruno Ace SC";
    margin: 0;
    margin-bottom: 0.5rem;
    // color: #fefefe !important;

    background: -webkit-linear-gradient(var(--main-special-1), var(--sub-special-1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .form-description {
    color: #fefefe;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
  }
}
